body {
    width: 95%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
    color: darkblue;
    height: 200px;
    position:relative;
}
header h1 {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
header p {
    font-size: 240%;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 45px;
}
header img {
    position: absolute;
    bottom: 60px;
    right: 200px;
}
aside p {
    font-size: 90%;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
}
aside h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
aside {
    float: right;
    box-sizing: border-box;
    background-color: #dddddd;
    border: 1px solid #999999;
    width: 25%;
}
main {
    float: right;
    width:75%;
    box-sizing: border-box;
    padding-right: 10px;
}
.intro {
    text-align: justify;
    background-color: white;
    color: black;
    margin: 20px 30px 20px 200px;
}
.blauwe_tekst {
    color: blue;
    font-weight: bold;
    font-style: italic;
}
.logo {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.gallery .foto {
    display: inline-block;
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px dotted #999999;
    box-sizing: content-box;
}
.gallery {
    background-color: #999999;
    text-align: left;
    padding-bottom: 20px;
}
footer section {
    background-color: #666666;
    width: 100%;
    clear: both;
    text-align: left;
}
footer div {
    display: inline-block;
    color: white;
    line-height: 2em;
    margin-left: 120px;

}
footer div a {
    color: white;
}
footer div a:hover {
    color: red;
}
footer ul {
    list-style-type: disc;
}