#hoofd_header {
    background-image: url("../images/header.jpg");
    padding-bottom: 50px;
}
body {
    width: 95%;
    margin: auto;
    font-family: "Arial", sans-serif;
}
#hoofd_header h1 {
    color: white;
    font-size: 50px;
    text-decoration: none;
    margin-left: 10px;
}
h1 {
    text-decoration: underline;
    font-size: 30px;
}
nav {
    background-color: dimgrey;
    padding: 7px;
}
nav a {
    color: mediumspringgreen;
    text-decoration: none;

}
article {
    background-color: lightgray;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}