html {
    background-color: #333;
    font-family: helvetica, serif;
    text-align: center;
}

* {
    padding: 10px;
}
header, footer {
    background: #ddaa00;
}
nav a, footer a {
    color: #ddaa00;
}
main {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
nav {
    background: #ccc;
    padding: 5px 2px;
}
nav a {
    border: 1px solid #ccc;
    margin: 0 5px;
}
section a {
    border: 1px solid #333;
}
img {
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
section {
    background-color: white;
    padding-bottom: 20px;
}
@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
