body {
    width: 90%;
    margin: auto;
    font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
}
.datagrid {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #A65B1A;
    border-radius: 6px;
}
.datagrid td, .datagrid th {
    padding: 14px 7px;
}
.datagrid thead th {
    background-color:#A65B1A;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-left: 2px solid #BF691E;
}
.datagrid thead th:first-child {
    border: none;
}
.datagrid tbody td {
    color: #7F4614;
    border-left: 2px solid #D9CFB8;
    font-size: 12px;
    font-weight: normal;
}
.datagrid tbody .alt td {
    background: #F0E5CC;
    color: #7F4614;
}
.datagrid tbody td:first-child {
    border-left: none;
}
.datagrid tbody tr:last-child td {
    border-bottom: none;
}
#hoofd_header {
    margin: 30px;
}
header {
    margin: 20px;
}
.datagrid tbody td.onbekend {
    background-color: red;
}